section.product-grid {
    background-color: #1c1c1c;
    color: white;
    position: relative;
    padding-bottom: 2rem;

    .banner-title {
        background-color: $blue;
        color: white;
        font-weight: bold;
        padding: 8px 20px;
        top: -20px;
        position: absolute;
    }

    .card-container {
        flex-wrap: wrap;
        margin: 50px 0 0;
        column-gap: 1rem;

        .card {
            flex: 1 1 calc(100% / 6 - 5rem);
            min-width: 160px;
            height: 270px;

            a {

                .card-cover {
                    height: $card-size;
                    width: $card-size;

                    img {
                        object-fit: cover;
                        object-position: top;
                    }
                }

                .card-title {
                    color: white;
                    font-size: 16px;
                    font-weight: bold;
                    text-transform: uppercase;
                    width: $card-size;
                    margin-top: 10px;
                }
            }
        }
    }
    button {
        display: block;
        margin: 0 auto;
    }
}

@media screen and (max-width: 1080px) {
    section .card-container .card {
        flex: 1 1 calc(100% / 4 - 3rem);
    }
}
